<div class="col-sm-2">
    <a href="/" class="list-group-item active">分类管理</a>

    <a href="/" class="list-group-item">
        分类列表</a>
    <a href="/add" class="list-group-item">
        增加分类</a>
    
    <a href="/goods" class="list-group-item active">商品管理</a>
    <a href="/goods" class="list-group-item">
        商品列表</a>
    <a href="/goods/add" class="list-group-item">
        增加商品</a>

    <a href="/shopping" class="list-group-item active">购物车管理</a>
    <a href="/shopping" class="list-group-item">
        购物车列表</a>

    
</div>